{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to The best NEWS HIGHLIGHT Website online </title>
        {% endif %}
    </head>
    <body>
       <!-- General News -->
       <h3> General News </h3>
       <ul>
           {{ macro.displayNewsList(General)}}
       </ul>

        <!-- Business News -->
        <h3> Business News </h3>
        <ul>
            {{ macro.displayNewsList(Business)}}
        </ul>

         <!-- Entertainment News -->
       <h3>  Entertainment </h3>
       <ul>
           {{ macro.displayNewsList(Entertainment)}}
       </ul>

        <!-- Sports News -->
        <h3> Sports </h3>
        <ul>
            {{ macro.displayNewsList(Sports)}}
        </ul>

         <!-- Tech News -->
       <h3> Technology </h3>
       <ul>
           {{ macro.displayNewsList(Technology)}}
       </ul>

        <!-- Science News -->
        <h3> Science </h3>
        <ul>
            {{ macro.displayNewsList(Science)}}
        </ul>

        <!-- Health News -->
        <h3> Health News</h3>
        <ul>
            {{ macro.displayNewsList(Health)}}
        </ul>


    </body>
</html>