{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<div class="bodyy">
<body>
<!-- Content block -->
{% block content %}
      
        <!-- Business News -->
        <h3> Business News </h3>
        <ul>
            {{ macro.displayNewsList(Business)}}
        </ul>
<br>
         <!-- Entertainment News -->
       <h3>  Entertainment </h3>
       <ul>
           {{ macro.displayNewsList(Entertainment)}}
       </ul>
<br>
        <!-- Sports News -->
        <h3> Sports </h3>
        <ul>
            {{ macro.displayNewsList(Sports)}}
        </ul>
<br>
         <!-- Tech News -->
       <h3> Technology </h3>
       <ul>
           {{ macro.displayNewsList(Technology)}}
       </ul>
<br>
        <!-- Science News -->
        <h3> Science </h3>
        <ul>
            {{ macro.displayNewsList(Science)}}
        </ul>
<br>
        <!-- Health News -->
        <h3> Health News</h3>
        <ul>
            {{ macro.displayNewsList(Health)}}
        </ul>

        {% endblock%}

    </body>
</div>
</html>