{% macro displayNewsList(source_list) %}

    {% for item in source_list %}
        <li>{{ item.title}}</li>
        <div class="card border-primary md-3 col-md-3">
            <div class="card-header">{{item.name}}</div>
            <div class="card-body">
                <p class="card-text">{{item.description|truncate(150)}}
                    <br>
                    <a href="/newsatnine/{{source_list.id}}&40"><button type="button" class="btn btn-primary btn-sm">Read Articles</button></a></p>
            </div>
        </div>
    
    
        {% endfor %}

{% endmacro %}